{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{% static 'index.css' %}">
</head>
<body>
<header>
<nav>
    <button class="nav-button1 {% if request.path == '/' %}active{% endif %}">
            <a href="{% url 'main' %}">Main</a>
</button>
    <button class="nav-button {% if request.path == '/my-feed/' %}active{% endif %}">
            <a href="{% url 'my_feed' %}">My Feed</a>
        </button>
   <button class="nav-button {% if request.path == '/profile/' %}active{% endif %}">
            <a href="{% url 'profile' %}">Profile</a>
        </button>
     <button class="nav-button {% if request.path == '/topics/' %}active{% endif %}">
            <a href="{% url 'topics' %}">Topics</a>
        </button>
     <button class="nav-button {% if request.path == '/register/' %}active{% endif %}">
            <a href="{% url 'register' %}">Register</a>
        </button>
    <button class="nav-button {% if request.path == '/set-password/' %}active{% endif %}">
            <a href="{% url 'set_password' %}">Set password</a>
        </button>
     <button class="nav-button {% if request.path == '/create/' %}active{% endif %}">
            <a href="{% url 'create_article' %}">Create Article</a>
        </button>
</nav>

</header>
<main>
    {% block content %}

   {% endblock %}
</main>


</body>
</html>