{% extends 'base.html' %}

{% block content %}
<h1>All articles:</h1>
<ul style="display: flex;
align-items: center;
justify-content: center;
flex-direction: column">
    {% for article in articles %}
    <li >
        <h2>By:{{ article.title }}</h2>
        </li> <h2>ARTICLE:</h2> <li style="background-color: #81d4fa;
    color: black;
    width: 100%;
    height: 30%;
    border: 2px solid black;
    border-radius: 5px;
    display: grid;
    margin: 5px;
font-size: 45px">{{ article.content }}
       </li>

</br>


 <h2>Topics:</h2>
         {% if article.topic %}
    <a style="background-color: #5897fb;color: white;
    width: 5%;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
    margin: 5px;
font-size: 25px" href="{% url 'topic' article.topic.id %}">{{ article.topic.name }}</a>
{% else %}
    <span>No topic assigned</span>
{% endif %}



<hr>
        {% endfor %}





</ul>
{% endblock %}


